body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img{
  float: left;  
  height: 200px;
  margin: 5px;
  transition: transform 0.4s ease;
}
img:hover{
  transform: scale(1.05);
}
#pagination{
  clear: left;
  text-align: center;
}
a{
  border: 2px solid #1395ff;
  border-radius: 15px;
  margin: 5px;
  color:#1395ff;
  text-decoration: none;
  padding: 3px;
}
